extends layout
block link
    -var selected = '新增';
block content
    script(src='../yigomobile/public/js/add.js')
    form(id='taskAddForm')
        div(class='input-field' )
            i(class='material-icons prefix') link
            input(type='url' class='validate' name='baseSvn' id='baseSvn' required='required' value=task.baseSvn)
            label(for='baseSvn') 主Svn
        div(class='input-field' )
            i(class='material-icons prefix') link
            input(type='url' class='validate' name='projectSvn' id='projectSvn' required='required' palceholder='https://dev.bokesoft.com:9443/svn/mUI/branches/projects/21338/www/js/lib/project-sida' value=task.projectSvn)
            label(for='projectSvn') 项目的Svn
        div(class='col s12 row input-field') 平台
            p
                input(type='radio' class="with-gap" id='yigoVersion1' value='1.6' name='yigoVersion' checked= task.yigoVersion == '1.6')
                label(for='yigoVersion1') 1.6
            p
                input(type='radio' class="with-gap" id='yigoVersion2' value='2' name='yigoVersion'  checked= task.yigoVersion == '2')
                label(for='yigoVersion2') 2.0
        div(class='input-field' )
            i(class='material-icons prefix') link
            input(type='text' class='validate' name='appVersion' id='appVersion' required='required' value=task.appVersion)
            label(for='appVersion') 项目版本号
        div(class='row')
            div(class='input-field col s6')
                i(class='material-icons prefix') account_circle
                input(type='text' class='validate' name='projectSvnUser' id='svnUser' value=task.projectSvnUser)
                label(for='svnUser') svn 用户名
            div(class='input-field col s6')
                i(class='material-icons prefix') remove_red_eye
                input(type='password' class='validate' name='projectSvnPassword' id='svnPassword' value=task.projectSvnPassword)
                label(for='svnPassword') svn 密码
        div(class='col s12 row')
            div(class='input-field col s6')
                i(class='material-icons prefix') dock
                input(type='text' class='validate' name='appName' id='appName' length="20" value=task.appName required='required')
                label(for='appName') 应用名称
            div(class='input-field col s6')
                i(class='material-icons prefix') explicit
                input(type='text' class="validate" name='appPackageName' id='appPackageName' placeholder='com.bokesoft.oa' required='required' value=task.appPackageName)
                label(for='appPackageName' data-error="wrong" data-success="right") 包名
        div(class='col s12 row input-field') 打包类型
            p
                input(type='radio' class="with-gap" id='release' value='release' name='appBuildType' checked= task.appBuildType=='release')
                label(for='release') release
            p
                input(type='radio' class="with-gap" id='debug' value='debug' name='appBuildType' checked= task.appBuildType=='debug')
                label(for='debug') debug
        div(class='col s12 row input-field') 平台
            p
                input(type='radio' class="with-gap" id='android' value='android' name='appPlatform' checked= task.appPlatform=='android')
                label(for='android') Android
            p
                input(type='radio' class="with-gap" id='ios' value='ios' name='appPlatform'  checked= task.appPlatform=='ios')
                label(for='ios') iOS
        div(class='row input-field')
            i(class='material-icons prefix') description
            textarea(class='materialize-textarea' name='appDescription' id='appDescription' length="500"  value=task.appDescription)
            label(for='appDescription') 应用描述
        div(class='col input-field')
            div(class='chip orange lighten-2') 证书选择(ios必选)
            select(class='browser-default' name='appIosMp')
                option(value='' disabled selected) 请选择
                each item in mobileProvision
                    option(value=item.UUID selected= task.appIosMp== item.UUID )= item.Name+'('+item.appId+')'
        div(class='col s12 row input-field')
            i(class='material-icons prefix') tag_faces
            input(type='text' class='validate' name='appIcon' id='appIcon' value=task.appIcon)
            label(for='appIcon') app图标
        <!-- Modal Trigger -->
        button( type='button' value='打包' class=' btn waves-effect waves-light modal-trigger' href="#modal1") 打包
            i(class="material-icons right") send
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>任务提示</h4>
        <p>任务提交成功</p>
        </div>
        <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">关闭</a>
        </div>
        </div>
        div(class='col s12 row input-field') app启动时页面
            p
                input(type='radio' class="with-gap" id='index' value='index.html' name='appContent' checked='checked')
                label(for='index') 首页[默认]
            p
                input(type='radio' class="with-gap" id='splash' value='js/lib/project-sida/splash.html' name='appContent')
                label(for='splash') 引导页
        div(class='col s12 row input-field') 是否发布
            p
                input(type='radio' class="with-gap" id='appReleaseNo' value='false' name='appRelease' checked= task.appRelease===false )
                label(for='appReleaseNo') 不发布[默认]
            p
                input(type='radio' class="with-gap" id='appReleaseYes' value='true' name='appRelease' checked= task.appRelease===true )
                label(for='appReleaseYes') 发布
        li(class='appPlugin') 插件选择
            div(class='selector')
                input(type='button' value='全选' class='waves-effect waves-light btn all-selector')
                input(type='button' value='全不选' class='waves-effect waves-light btn all-not-selector')
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-app-version' id='cordova-plugin-app-version' checked='checked')
                label(for='cordova-plugin-app-version') cordova-plugin-app-version
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-camera' id='cordova-plugin-camera' checked='checked')
                label(for='cordova-plugin-camera') cordova-plugin-camera
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-device' id='cordova-plugin-device' checked='checked')
                label(for='cordova-plugin-device') cordova-plugin-device
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-file' id='cordova-plugin-file' checked='checked')
                label(for='cordova-plugin-file') cordova-plugin-file
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-file-opener2' id='cordova-plugin-file-opener2' checked='checked')
                label(for='cordova-plugin-file-opener2') cordova-plugin-file-opener2
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-file-transfer' id='cordova-plugin-file-transfer' checked='checked')
                label(for='cordova-plugin-file-transfer') cordova-plugin-file-transfer
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-inappbrowser' id='cordova-plugin-inappbrowser' checked='checked')
                label(for='cordova-plugin-inappbrowser') cordova-plugin-inappbrowser
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-whitelist' id='cordova-plugin-whitelist' checked='checked')
                label(for='cordova-plugin-whitelist') cordova-plugin-whitelist
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-x-socialsharing' id='cordova-plugin-x-socialsharing' checked='checked')
                label(for='cordova-plugin-x-socialsharing') cordova-plugin-x-socialsharing
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='phonegap-plugin-barcodescanner' id='phonegap-plugin-barcodescanner' checked='checked')
                label(for='phonegap-plugin-barcodescanner') phonegap-plugin-barcodescanner
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='ionic-plugin-keyboard' id='ionic-plugin-keyboard' checked='checked')
                label(for='ionic-plugin-keyboard') ionic-plugin-keyboard(修复软键盘遮挡)
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-geolocation' id='cordova-plugin-geolocation' )
                label(for='cordova-plugin-geolocation') cordova-plugin-geolocation（普通定位,不可以与cordova-plugin-geolocation-baidu同时使用)
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-baidu-push' id='cordova-plugin-baidu-push' )
                label(for='cordova-plugin-baidu-push') 百度云推送
            h4 iOS 插件
            div(class='col s12 row variable-checkbox')
                input(type='checkbox' name='appPlugin' class='filled-in col s4' value='cordova-plugin-geolocation-baidu' id='cordova-plugin-geolocation-baidu' )
                label(for='cordova-plugin-geolocation-baidu' class='col s8') geolocation-baidu（iOS增强定位,仅限车掌柜,不可与cordova-plugin-geolocation同使)
                div(class='input-field col s4' )
                    input(type='text' class='validate input-field' name='cordova-plugin-geolocation-baidu_BAIDUMAPKEY' value='tsIG8xQr1r3kuHIfcFOfGfGgWaNkXURv' variable-key='BAIDUMAPKEY' id='cordova-plugin-geolocation-baidu_BAIDUMAPKEY')
                    label(for='cordova-plugin-geolocation-baidu_BAIDUMAPKEY') BAIDUMAPKEY
            div(class='col s12 row variable-checkbox')
                input(type='checkbox' name='appPlugin' class='filled-in col s4' value='cordova-plugin-wechat' id='cordova-plugin-wechat')
                label(for='cordova-plugin-wechat' class='col s8') cordova-plugin-wechat（iOS 微信分享,仅限车掌柜使用)
                div(class='input-field col s4' )
                  input(type='text' class='validate input-field' name='cordova-plugin-wechat_API_KEY' value='wx0b12e3e1adde0d7f' variable-key='WECHATAPPID' id='cordova-plugin-wechat_API_KEY')
                  label(for='cordova-plugin-wechat_API_KEY') wechatappid
            div(class='col s12 row variable-checkbox')
                input(type='checkbox' name='appPlugin' class='filled-in col s4' value='Cordova_QQ' id='Cordova_QQ')
                label(for='Cordova_QQ' class='col s8') Cordova_QQ（iOS QQ分享,仅限车掌柜使用)
                div(class='input-field col s4' )
                    input(type='text' class='validate input-field' name='Cordova_QQ_API_KEY' value='1105143090' variable-key='QQ_APP_ID' id='Cordova_QQ_API_KEY')
                    label(for='Cordova_QQ_API_KEY') QQ_APP_ID
            h4 android 插件
            div(class='col s12 row variable-checkbox')
                input(type='checkbox' name='appPlugin' class='filled-in col s4' value='cordova-plugin-geoloaction-baidu-android/' id='cordova-plugin-geoloaction-baidu-android')
                label(for='cordova-plugin-geoloaction-baidu-android' class='col s8') cordova-plugin-geoloaction-baidu-android（Android 百度增强定位,仅限车掌柜使用)
                div(class='input-field col s4' )
                    input(type='text' class='validate input-field' name='cordova-plugin-geoloaction-baidu-android_API_KEY' value='4z5k9DG1QUIBWF9yEfb4Qho6' variable-key='API_KEY' id='cordova-plugin-geoloaction-baidu-android_API_KEY')
                    label(for='cordova-plugin-geoloaction-baidu-android_API_KEY') API_KEY
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='cordova-plugin-crosswalk-webview' id='cordova-plugin-crosswalk-webview')
                label(for='cordova-plugin-crosswalk-webview') cordova-plugin-crosswalk-webview(针对低版本android)
