extends layout
block link
    -var selected = '新增';
block content
    script(src='../yigomobile/public/js/add.js')
    form(id='taskAddForm')
        div(class='input-field' )
            i(class='material-icons prefix') link
            input(type='url' class='validate' name='baseSvn' id='baseSvn' required='required' value=task.baseSvn)
            label(for='baseSvn') 主Svn
        div(class='input-field' )
            i(class='material-icons prefix') link
            input(type='url' class='validate' name='projectSvn' id='projectSvn' required='required' palceholder='https://dev.bokesoft.com:9443/svn/mUI/branches/projects/21338/www/js/lib/project-sida' value=task.projectSvn)
            label(for='projectSvn') 项目的Svn
        div(class='input-field' )
            i(class='material-icons prefix') link
            input(type='text' class='validate' name='appVersion' id='appVersion' required='required' value=task.appVersion)
            label(for='appVersion') 项目版本号
        div(class='row')
            div(class='input-field col s6')
                i(class='material-icons prefix') account_circle
                input(type='text' class='validate' name='projectSvnUser' id='svnUser' value=task.projectSvnUser)
                label(for='svnUser') svn 用户名
            div(class='input-field col s6')
                i(class='material-icons prefix') remove_red_eye
                input(type='text' class='validate' name='projectSvnPassword' id='svnPassword' value=task.projectSvnPassword)
                label(for='svnPassword') svn 密码
        div(class='col s12 row')
            div(class='input-field col s6')
                i(class='material-icons prefix') dock
                input(type='text' class='validate' name='appName' id='appName' length="20" value=task.appName required='required')
                label(for='appName') 应用名称
            div(class='input-field col s6')
                i(class='material-icons prefix') explicit
                input(type='text' class="validate" name='appPackageName' id='appPackageName' placeholder='com.bokesoft.oa' required='required' value=task.appPackageName)
                label(for='appPackageName' data-error="wrong" data-success="right") 包名
        div(class='col s12 row input-field') 打包类型
            p
                input(type='radio' class="with-gap" id='release' value='release' name='appBuildType')
                label(for='release') release
            p
                input(type='radio' class="with-gap" id='debug' value='debug' name='appBuildType' checked='checked')
                label(for='debug') debug
        div(class='col s12 row input-field') 平台
            p
                input(type='radio' class="with-gap" id='android' value='android' name='appPlatform' checked='checked')
                label(for='android') Android[默认]
            p
                input(type='radio' class="with-gap" id='ios' value='ios' name='appPlatform')
                label(for='ios') iOS
        div(class='row input-field')
            i(class='material-icons prefix') description
            textarea(class='materialize-textarea' name='appDescription' id='appDescription' length="500"  value=task.appDescription)
            label(for='appDescription') 应用描述
        div(class='col s12 row input-field')
            i(class='material-icons prefix') tag_faces
            input(type='text' class='validate' name='appIcon' id='appIcon' value=task.appIcon)
            label(for='appIcon') app图标
        <!-- Modal Trigger -->
        button( type='button' value='打包' class=' btn waves-effect waves-light modal-trigger' href="#modal1") 打包
            i(class="material-icons right") send
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>任务提示</h4>
        <p>任务提交成功</p>
        </div>
        <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">关闭</a>
        </div>
        </div>
        div(class='col s12 row input-field') app启动时页面
            p
                input(type='radio' class="with-gap" id='index' value='index.html' name='appContent' checked='checked')
                label(for='index') 首页[默认]
            p
                input(type='radio' class="with-gap" id='splash' value='js/lib/project-sida/splash.html' name='appContent')
                label(for='splash') 引导页
        li(class='appPlugin') 插件选择
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/com.cmpsoft.mobile.plugin.pushnotification' id='com.cmpsoft.mobile.plugin.pushnotification' checked='checked')
                label(for='com.cmpsoft.mobile.plugin.pushnotification') com.cmpsoft.mobile.plugin.pushnotification (推送)
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/com.phonegap.plugins.barcodescanner' id='com.phonegap.plugins.barcodescanner' checked='checked')
                label(for='com.phonegap.plugins.barcodescanner') com.phonegap.plugins.barcodescanner （二维码解码）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/cordova-plugin-device' id='cordova-plugin-device' checked='checked')
                label(for='cordova-plugin-device') cordova-plugin-device(设备基本信息)
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/cordova-plugin-file-opener2' id='cordova-plugin-file-opener2' checked='checked')
                label(for='cordova-plugin-file-opener2') cordova-plugin-file-opener2(打开文件)
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/cordova-plugin-whitelist' id='cordova-plugin-whitelist' checked='checked')
                label(for='cordova-plugin-whitelist') cordova-plugin-whitelist （白名单）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/nl.x-services.plugins.socialsharing' id='nl.x-services.plugins.socialsharing' checked='checked')
                label(for='nl.x-services.plugins.socialsharing') nl.x-services.plugins.socialsharing （分享）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/org.apache.cordova.camera' id='org.apache.cordova.camera' checked='checked')
                label(for='org.apache.cordova.camera') org.apache.cordova.camera（相机）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/org.apache.cordova.file' id='org.apache.cordova.file' checked='checked')
                label(for='org.apache.cordova.file') org.apache.cordova.file（读取文件）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/org.apache.cordova.file-transfer' id='org.apache.cordova.file-transfer' checked='checked')
                label(for='org.apache.cordova.file-transfer') org.apache.cordova.file-transfer（文件传送）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/org.apache.cordova.inappbrowser' id='org.apache.cordova.inappbrowser' checked='checked')
                label(for='org.apache.cordova.inappbrowser') org.apache.cordova.inappbrowser(内置浏览器)
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/org.apache.cordova.geolocation' id='org.apache.cordova.geolocation' checked='checked')
                label(for='org.apache.cordova.geolocation') org.apache.cordova.geolocation（定位）
            p
                input(type='checkbox' name='appPlugin' class='filled-in' value='../plugin/cordova-plugin-app-version' id='cordova-plugin-app-version' checked='checked')
                label(for='cordova-plugin-app-version') cordova-plugin-app-version（版本v）
            div(class='col s12 row variable-checkbox')
                input(type='checkbox' name='appPlugin' class='filled-in col s4' value='../plugin/cordova-plugin-geoloaction-baidu-android' id='com.qdc.plugins.baidu.location')
                label(for='com.qdc.plugins.baidu.location' class='col s6') cordova-plugin-geoloaction-baidu-android（百度增强定位)
                div(class='input-field col s6' )
                  input(type='text' class='validate input-field' name='com.qdc.plugins.baidu.location_API_KEY' value='4z5k9DG1QUIBWF9yEfb4Qho6' variable-key='API_KEY' id='com.qdc.plugins.baidu.location_API_KEY')
                  label(for='com.qdc.plugins.baidu.location_API_KEY') API_KEY





//baseSvn
//projectSvn
//svnUser
//svnPassword
//appName
//appEnglishName
//appDescription
//appIcon
//appContent
//appPlugin
